body {
  margin: 0;
}

.frame {
  position: relative;
  background-color: #eee;
  margin: auto;
}
.frame:before {
  display: block;
  content: "";
  padding-bottom: 75%;
}

@media screen and (orientation: portrait) {
  .frame {
    width: 80%;
  }
}

@media screen and (orientation: landscape) {
  .frame {
    width: 70%;
  }
}

.frame > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
